.DS_Store
*.pyc
test.db
*.wpr
*.wpu
.project
.pydevproject
.pytest_cache
.settings
*.egg-info
.coverage
docs/_build
build/
dist/
settings.py
.webassets-cache
.sass-cache
nosetests.xml
baseframe-packed.css
baseframe-packed.js
packed.css
packed.js
error.log
dev.db
*.db
.idea
hgtv/static/thumbnails/*
hgtv/static/gen/*
hgtv/assets/node_modules/*
hgtv/assets/package-lock.json
instance/development.py
*.min.js
hgtv/static/build
hgtv/templates/index.html.jinja2
hgtv/static/service-worker.js
