Flask==2.1.2
Flask-Uploads==0.2.1
https://github.com/hasgeek/coaster/zipball/master
https://github.com/hasgeek/baseframe/zipball/master
Flask-SQLAlchemy==2.5.1
https://github.com/hasgeek/flask-lastuser/zipball/master
requests==2.26.0
pytz==2021.1
Pillow==8.3.2
bleach==4.1.0
google-api-python-client==2.23.0
Flask-Migrate==3.1.0
