.header-logo {
  height: 37px;
}

.content-head {
  background-color: #EFF2F7;
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
  padding-top: 8px;
}

.content-head__title {
  margin-top: 0;
}

.page-content {
  padding-top: 32px;
}

.options {
  align-self: flex-end;
  text-align: right;
}

.admin-options {
  margin-bottom: 16px;
}

.admin-options__actions {
  margin-right: 16px;
}

.admin-options__actions:last-child {
  margin-right: 0;
}

.video-logo {
  width: 75px;
}

.video-title {
  margin-bottom: 3px;
}

.playlist {
  margin-top: 16px;
  border-bottom: 1px solid rgba(132, 146, 166, 0.2);
}

.playlist:last-child {
  border-bottom: none;
}

.playlist-link {
  text-align: right;
}

.control-icon-wrapper {
  min-width: 100%;
  align-self: self-start;
}

.control-icon {
  margin-left: auto;
}

.thumbnail-wrapper {
  margin-bottom: 1em;
}

.thumbnail-wrapper--margin {
  margin-bottom: 2em;
}

.thumbnail--video {
  max-width: 250px;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .thumbnail-wrapper {
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .thumbnail--video,
  .thumbnail-wrapper {
    max-width: 320px;
  }

  .control-icon-wrapper {
    min-width: 34px;
    max-width: 65px;
  }

  .control-icon-wrapper--top {
    position: relative;
    top: 50px;
  }

  .control-icon-wrapper--bottom {
    position: relative;
    bottom: 25px;
  }

  .control-icon {
    margin-left: auto;
    margin-right: auto;
  }
}
.video-box {
  max-width: 800px;
}

.video,
.video169,
.video43 {
  position: relative;
  height: 0px;
  overflow: hidden;
}

.video,
.video169 {
  padding-bottom: 56.25%;
}

.video43 {
  padding-bottom: 75%;
}

.video.youtube,
.video169.youtube,
.video43.youtube {
  padding-top: 400px;
  max-width: 800px;
}

.video.slideshare,
.video169.slideshare,
.video43.slideshare {
  padding-top: 36px;
}

.video.speakerdeck,
.video169.speakerdeck,
.video43.speakerdeck {
  padding-top: 62px;
}

.video.ustream,
.video169.ustream,
.video43.ustream {
  padding-top: 32px;
}

.video iframe,
.video object,
.video embed,
.video169 iframe,
.video169 object,
.video169 embed,
.video43 iframe,
.video43 object,
.video43 embed {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.video-box__ops {
  margin-top: 16px;
}

.video-box__actions {
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
  vertical-align: middle;
  line-height: 29px;
}

.video-box__actions:last-child {
  margin-left: 0;
}

.video-box__speaker {
  margin: 20px 0;
}
