body {
  background-color: white;
  background-image: url('../img/bg.png?1352951792');
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1353916490');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 137px;
  height: 75px;
  float: left;
}

#logo-home {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo-large1.png?1354120309');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 251px;
  height: 102px;
  margin-bottom: 30px;
}

#search {
  float: right;
  padding-top: 28px;
  padding-left: 11px;
}
#search form {
  margin-bottom: 0;
}

header {
  box-shadow: 0px 0px 5px #888888;
  background-image: url('../img/bg.png?1352951792');
  background-color: #ebebeb;
}

#page-header {
  border-bottom: 0;
}
#page-header h3, #page-header h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#page-header h3 {
  margin-top: 11px;
  font-weight: normal;
}
#page-header h1 {
  margin-top: 31px;
  line-height: 33px;
}
#page-header h3 + h1 {
  font-size: 26px;
  margin-top: 0;
}

.page-header h3 {
  font-size: 15px;
  color: #0087cf;
  margin-top: 5px;
}
.page-header h3 a {
  color: #0087cf;
}
.page-header h1 {
  font-size: 22px;
  margin-top: 5px;
}

#home-header {
  box-shadow: 0px 0px 5px #888888;
  background-image: none;
  background-color: white;
}

.breadcrumb {
  width: 100%;
  margin-top: -20px;
}

.edit-options {
  margin-top: 10px;
  margin-right: -15px;
}
.edit-options a {
  margin-right: 15px;
  float: right;
}

.create-meta {
  margin-top: 8px;
  float: right;
}

.display-area {
  padding-top: 30px;
  padding-bottom: 30px;
}

.dark-bg {
  background-color: #4a535a;
  box-shadow: inset 0px 0px 6px -2px black;
}

/* home page */
#home-text p {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 80px;
}

#live-head {
  position: relative;
  z-index: 99;
  top: 30px;
  text-decoration: blink;
  left: 12px;
  font-size: 22px;
  font-style: bold;
  color: white;
}

.live-stream {
  margin-bottom: 30px;
}

.home-grey-bg {
  margin-top: -20px;
  padding-top: 10px;
}

#orange {
  color: #eb5b1f;
}

#violet {
  color: #856a91;
}

.home-top {
  margin-top: 60px;
}

.home-bottom {
  margin-top: -5px;
}

.home-tab {
  margin-top: 10px;
}

.tab-content {
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.home-playlist-title {
  background-color: #856a91;
}
.home-playlist-title a {
  font-size: 18px;
  color: white;
  padding-left: 30px;
}

.home-playlist {
  padding-left: 45px;
}

.explore-btn {
  float: right;
  margin-right: 30px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.nav-tabs > li > a {
  background-color: white;
  padding: 12px;
  font-size: 16px;
  color: #856a91;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-tabs > li > a:hover {
  background: transparent;
}

/* channel page */
.channel-playlist {
  background-color: #313a41;
}
.channel-playlist a {
  color: #e0e0e0;
}

.channel-top {
  margin-top: -10px;
}

.channel-title {
  background-color: black;
  height: 60px;
  width: 100%;
}

.channel-nav {
  height: 30px;
  width: 100%;
  background-color: #333333;
}

/* playlist page */
.play-list {
  font-size: 18px;
}
.play-list a {
  color: black;
  text-shadow: 0;
}

.playlist.thumbnails > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.playlist.thumbnails > li a {
  display: block;
  text-align: center;
}
.playlist.thumbnails > li a img.thumbnail {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
.playlist.thumbnails > li a:hover {
  text-decoration: none;
}
.playlist.thumbnails > li a:hover .thumbnail {
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.playlist-top {
  margin-top: 30px;
}

.playlist-img .thumbnail {
  display: block;
  padding: 0;
  border: transparent;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  list-style-type: none;
}
.playlist-img .thumbnail li {
  border: transparent;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  float: right;
  height: 45px;
  width: 80px;
}

.video-title {
  color: white;
}

/* video page */
#speaker-img {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/user.png?1353744203');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  float: left;
  height: 50px;
  width: 50px;
}

.speaker-bio {
  background: #313a41;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 10px;
}
.speaker-bio li {
  list-style-type: none;
}
.speaker-bio .grey-line {
  height: 1px;
  width: 100%;
  background-color: #666666;
}
.speaker-bio .speaker-name {
  font-size: 16px;
  font-style: bold;
}
.speaker-bio .speaker-name a {
  color: black;
}
.speaker-bio .speaker-description {
  font-style: italic;
  font-size: 14px;
}
.speaker-bio .speaker-description a {
  color: white;
}

#action .btn-toolbar {
  margin-bottom: -20px;
}
#action .btn {
  background-color: #313a41;
  background-image: none;
  color: white;
  border-color: #282d31;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: none;
}
#action .btn:hover,
#action .btn:active,
#action .btn.active,
#action .btn.disabled,
#action .btn[disabled] {
  background-color: #e6e6e6;
}
#action .btn:active,
#action .btn.active {
  background-color: #cccccc \9;
}
#action .btn:hover {
  background-color: #282d31;
}
#action .btn.active,
#action .btn:active {
  background-image: none;
  background-color: #282d31;
  outline: 0;
}

.addto-dropdown {
  background-color: #313a41;
  border-color: #282d31;
  box-shadow: none;
  border-radius: none;
}
.addto-dropdown a {
  color: white;
}
.addto-dropdown .add-to-playlist:hover {
  background-color: #282d31;
}
.addto-dropdown .new-playlist:hover {
  background-color: #282d31;
}
.addto-dropdown .divider {
  background-color: black;
  border-color: #666666;
}

.dropdown-menu {
  border-radius: 0px 0px 0px 0px;
}

.prev-next {
  margin-top: 30px;
}
.prev-next .title-bg {
  background-color: #f0a40c;
}
.prev-next .arrow-down {
  border-top: 6px solid #f0a40c;
}
.prev-next i {
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 50%;
  font-size: 30px;
}
.prev-next i:hover, .prev-next i:active {
  text-decoration: none;
}

.prev-next-title {
  text-align: center;
}

.description {
  margin-top: 30px;
  margin-bottom: 20px;
}
.description .title-bg {
  background-color: #856a91;
}
.description .arrow-down {
  border-top: 6px solid #856a91;
}

footer .footer-inner {
  background: transparent;
}
footer .container {
  position: relative;
}

#home-footer {
  background-image: url('../img/bg.png?1352951792');
}

.color-band {
  height: 0.15em;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwYTQwYyIvPjxzdG9wIG9mZnNldD0iMTclIiBzdG9wLWNvbG9yPSIjZjBhNDBjIi8+PHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNkZjVlMGUiLz48c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2RmNWUwZSIvPjxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjODE2ODk0Ii8+PHN0b3Agb2Zmc2V0PSI1NyUiIHN0b3AtY29sb3I9IiM4MTY4OTQiLz48c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2RmNWUwZSIvPjxzdG9wIG9mZnNldD0iNzclIiBzdG9wLWNvbG9yPSIjZGY1ZTBlIi8+PHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNmMGE0MGMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGE0MGMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f0a40c), color-stop(17%, #f0a40c), color-stop(23%, #df5e0e), color-stop(37%, #df5e0e), color-stop(43%, #816894), color-stop(57%, #816894), color-stop(63%, #df5e0e), color-stop(77%, #df5e0e), color-stop(83%, #f0a40c), color-stop(100%, #f0a40c));
  background: -webkit-linear-gradient(left, #f0a40c 0%, #f0a40c 17%, #df5e0e 23%, #df5e0e 37%, #816894 43%, #816894 57%, #df5e0e 63%, #df5e0e 77%, #f0a40c 83%, #f0a40c 100%);
  background: -moz-linear-gradient(left, #f0a40c 0%, #f0a40c 17%, #df5e0e 23%, #df5e0e 37%, #816894 43%, #816894 57%, #df5e0e 63%, #df5e0e 77%, #f0a40c 83%, #f0a40c 100%);
  background: -o-linear-gradient(left, #f0a40c 0%, #f0a40c 17%, #df5e0e 23%, #df5e0e 37%, #816894 43%, #816894 57%, #df5e0e 63%, #df5e0e 77%, #f0a40c 83%, #f0a40c 100%);
  background: linear-gradient(left, #f0a40c 0%, #f0a40c 17%, #df5e0e 23%, #df5e0e 37%, #816894 43%, #816894 57%, #df5e0e 63%, #df5e0e 77%, #f0a40c 83%, #f0a40c 100%);
}

.placeholder {
  background: #cccccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.placeholder div {
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
  height: 100%;
}
.placeholder span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-style: italic;
  width: 100%;
}

.pane {
  border: 1px solid #cccccc;
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.thumbnail:hover {
  opacity: 0.8;
}

.title-bg {
  font-size: 14px;
  padding-bottom: 3px;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 12px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-top: -20px;
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  .color-band {
    left: 0;
    right: 0;
  }

  .prev-next i {
    visibility: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .prev-next .thumbnail {
    width: 50%;
    height: 50%;
    float: left;
  }

  .prev-next-title {
    text-align: left;
  }

  #action .btn-toolbar {
    margin-bottom: 20px;
  }

  .home-top {
    margin-bottom: 60px;
  }

  .tab-content {
    margin-top: 30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #logo {
    background-image: url('../img/logo@2x.png?1353916490');
    -webkit-background-size: 137px 75px;
  }
}
@media screen and (max-width: 979px) {
  .video-button-label {
    display: none;
  }
}
