.playlist {
  padding-bottom: 5px;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1333747476');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 137px;
  height: 75px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #logo {
    background-image: url('../img/logo@2x.png?1333747476');
    -webkit-background-size: 137px 75px;
  }
}
