@import "compass/typography/text/replacement"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

$body-line-height: 22px

.placeholder
  background: #ccc
  text-align: center
  vertical-align: middle

.pane
  border: 1px solid #ccc
  padding: 8px
  @include border-radius(4px)

.playlist.thumbnails > li
  float: none
  display: inline-block
  vertical-align: top

  a
    display: block
    text-align: center
    img.thumbnail
      display: block
      max-width: 100%
      margin-left: auto
      margin-right: auto
      margin-bottom: 4px

  a:hover
    text-decoration: none
    .thumbnail
      border-color: #0088cc
      @include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25))

#logo
  @include replace-text-with-dimensions('logo.png')
  float: right
  margin-left: $body-line-height / 2

#page-header
  margin-top: $body-line-height / 2

  h3, h1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  h3
    margin-top: $body-line-height / 2
    font-weight: normal
  h1
    margin-top: $body-line-height * 1.5 - 2px
    line-height: $body-line-height * 1.5
  h3 + h1
    font-size: 26px
    margin-top: 0

@media only screen and (-webkit-min-device-pixel-ratio: 2)
  #logo
    background-image: image-url('logo@2x.png')
    -webkit-background-size: image-width('logo.png') image-height('logo.png')
