@import "compass/typography/text/replacement"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/images"

$body-line-height: 22px
$experimental-support-for-svg: true

.placeholder
  background: #ccc
  text-align: center
  vertical-align: middle

.pane
  border: 1px solid #ccc
  padding: 8px
  @include border-radius(4px)

.playlist.thumbnails > li
  float: none
  display: inline-block
  vertical-align: top

  a
    display: block
    text-align: center
    img.thumbnail
      display: block
      max-width: 100%
      margin-left: auto
      margin-right: auto
      margin-bottom: 4px

  a:hover
    text-decoration: none
    .thumbnail
      border-color: #0088cc
      @include box-shadow(0 1px 4px rgba(0, 105, 214, 0.25))

#logo
  @include replace-text-with-dimensions('logo.png')
  float: right
  margin-left: $body-line-height / 2

#page-header
  margin-top: $body-line-height / 2
  // border-bottom: 0

  h3, h1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  h3
    margin-top: $body-line-height / 2
    font-weight: normal
  h1
    margin-top: $body-line-height * 1.5 - 2px
    line-height: $body-line-height * 1.5
  h3 + h1
    font-size: 26px
    margin-top: 0

footer
  .footer-inner
    background: transparent
  .container
    position: relative

.color-band
  height: 0.5em
  position: absolute
  top: 0
  width: 100%
  padding: 0
  margin: 0
  +background(linear-gradient(left, #BFBFBF 0%, #BFBFBF 12.5%, #BFBF00 12.5%, #BFBF00 25%, #00BFBF 25%, #00BFBF 37.5%, #00BF00 37.5%, #00BF00 50%, #BF00BF 50%, #BF00BF 62.5%, #BF0000 62.5%, #BF0000 75%, #0000BF 75%, #0000BF 87.5%, #000000 87.5%, #000000 100%))

@media screen and (max-width: 767px)
  .color-band
    left: 0
    right: 0

@media only screen and (-webkit-min-device-pixel-ratio: 2)
  #logo
    background-image: image-url('logo@2x.png')
    -webkit-background-size: image-width('logo.png') image-height('logo.png')
