.header-logo
  height: 40px

.content-head
  background-color: #EFF2F7
  border-bottom: 1px solid rgba(132, 146, 166, 0.2)

.masthead-background,
.masthead-intro
  display: none

.masthead-foreground
  position: relative
  min-height: 210px

.masthead-title
  position: absolute
  z-index: 2
  left: 0
  right: 0
  top: 45%
  font-size: 48px
  text-align: center
  font-weight: 700
  color: #F9A135
  text-shadow: 0 2px 4px rgba(0,0,0,0.50)

.masthead-foreground-img
  width: 100%

.masthead-tagline
  text-align: center

@media (min-width: 768px)
  .page-masthead
    position: relative
    margin-bottom: 80px

  .masthead-background
    width: 100%
    height: 100%
    display: block

  .masthead-foreground
    width: 50%
    position: absolute
    top: 140px
    left: 25%
    z-index: 1

  .masthead-foreground-img
    width: 100%

  .masthead-intro
    position: absolute
    top: 40px
    color: #ffffff
    font-size: 34px
    font-weight: 700
    text-shadow: 0 2px 4px rgba(0,0,0,0.50)
    left: 0
    right: 0
    text-align: center
    display: block

  .masthead-title
    position: absolute
    z-index: 2
    left: 0
    right: 0
    top: 45%
    font-size: 64px

  .masthead-tagline
    width: 70%
    margin: 24px auto

@media (min-width: 1200px)
  .masthead-intro
    font-size: 45px

  .masthead-title
    font-size: 64px

@media (max-width: 767px)
  .mui-container--no-padding-mobile
    padding: 0

.page-content
  padding-top: 1em

@media (min-width: 1200px)
  .page-content
    padding-top: 3em

@media (max-width: 767px)
  .page-content--no-padding-mobile
    padding: 0

@media (max-width: 767px)
  .grid__col--no-padding-mobile
    padding: 0

.livestream
  margin: 2em auto

.clickable-card
  color: #1F2D3D

.clickable-card:focus,
.clickable-card:hover,
.clickable-card:active
  color: #1F2D3D
  outline: none
  text-decoration: none

.card__image-wrapper
  min-height: 126px
  position: relative

.card__logo
  position: absolute
  bottom: -35px
  z-index: 1
  left: 1em
  max-height: 70px
  background: #fff
  border-radius: 20%
  box-shadow: 0 1px 3px rgba(158,158,158,0.12),0 1px 2px rgba(158,158,158,0.24)
  text-align: center

.card__logo__img
  width: 70px
  min-height: 70px
  padding: 16px

.card .card__title
  margin-top: 55px

.options
  align-self: flex-end
  text-align: right

.admin-options
  margin: 16px 0
  text-align: right

.admin-options__actions
  margin-left: 16px
  display: inline-block

.admin-options__actions:last-child
  margin-right: 0

.video-logo
  width: 75px

.video-title
  margin-bottom: 3px

.playlist
  margin-top: 16px
  border-bottom: 3px solid #F9A135

.playlist:last-child
  border-bottom: none

.playlist-link
  text-align: right
  margin-bottom: 0.5em

.control-icon-wrapper
  min-width: 100%
  align-self: self-start

.control-icon
  margin-left: auto

.thumbnail-wrapper
  margin-bottom: 1em

.thumbnail-wrapper--margin
  margin-bottom: 2em

.thumbnail--video
  max-width: 600px
  height: auto
  min-height: 100px

@media (min-width: 480px) and (max-width: 767px)
  .thumbnail-wrapper,
  .thumbnail--video
    max-width: 250px

@media (min-width: 768px) and (max-width: 1199px)
  .thumbnail-wrapper
    margin-bottom: 2em

  .thumbnail-wrapper,
  .thumbnail--video
    max-width: 237px

@media (min-width: 1200px)
  .thumbnail--video,
  .thumbnail-wrapper
    max-width: 320px

  .control-icon-wrapper
    min-width: 34px
    max-width: 65px

  .control-icon-wrapper--top
    position: relative
    top: 50px

  .control-icon-wrapper--bottom
    position: relative
    bottom: 25px

  .control-icon
    margin-left: auto
    margin-right: auto

.video-box--margintop
  margin-top: 1em

.video-box__video
  width: 100%

.video-box__video--fixed
  position: fixed
  height: 250px
  top: 55px
  left: 0
  z-index: 10001

.video-box__video iframe,
.video-box__video object,
.video-box__video embed,
.video-box__video--placeholder
  width: 100%
  height: 250px

.video-box__video--placeholder
  display: flex
  background: #1F2D3D
  color: #FFFFFF

.video-box__video__text
  align-self: center
  margin: auto

.video-box__ops
  padding: 8px 0 5px
  background-color: #EFF2F7
  margin-bottom: 16px
  padding-top: 260px

@media (min-width: 768px)
  .video-box__video
    width: 100%
    height: 100%
    position: relative
    top: 0

  .video-box__video iframe,
  .video-box__video object,
  .video-box__video embed
  .video-box__video--placeholder
    height: 400px

@media (min-width: 1024px)
  .video-box__video iframe,
  .video-box__video object,
  .video-box__video embed,
  .video-box__video--placeholder
    height: 500px

@media (min-width: 768px)
  .video-box__ops
    margin-top: -7px
    padding-top: 8px

.video-box__actions
  display: inline-block
  cursor: pointer
  margin-right: 16px
  padding: 0
  vertical-align: middle
  line-height: 29px
  border: 0
  background: none

.video-box__actions--nomargin
  margin-right: 0

.video-box__speaker-details
  margin: 0 0 2px

.mui-dropdown__menu--limitedwidth
  width: 200px

.mui-dropdown__menu--limitedwidth li span
  white-space: normal

.ad-banner
  display: block
  text-align: center

.ad-banner img
  max-width: 100%
