{% extends "layout.html" %}
{% block title %}{{ channel.title }}{% endblock %}
{% from "macros.html" import render_thumbnail %}

{% block contenthead %}
  <div class="content-head">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-xs-12 grid__col-lg-6">
          <h1 id="channel-header" class="mui--text-headline">{{ channel.title }}</h1>
          <div class="mui--text-caption">{{ channel.description|safe }}</div>
        </div>
        <div class="grid__col-xs-12 grid__col-lg-6">
          <div class="mui--text-body2 admin-options">
            {% if 'new-playlist' in g.permissions -%}
              <a href="{{ channel.url_for('import-playlist') }}" class="admin-options__actions"><i class="material-icons mui--text-subhead mui--align-top">import_export</i> Import playlist</a>
              <a href="{{ channel.url_for('new-playlist') }}" class="admin-options__actions"><i class="material-icons mui--text-subhead mui--align-top">playlist_add</i> New playlist</a>
              <a href="{{ channel.url_for('edit') }}" class="admin-options__actions"><i class="material-icons mui--text-subhead mui--align-top">mode_edit</i> Edit channel</a>
            {%- endif %}
            {% if 'new-video' in g.permissions -%}
              <a href="{{ channel.url_for('stream-add') }}" class="admin-options__actions"><i class="material-icons mui--text-subhead mui--align-top">library_add</i> New video</a>
            {%- endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content -%}
  {% if channel.playlists|length > 0 -%}
    {% for playlist in channel.playlists -%}
      <div class="grid grid--align-baseline playlist">
        <div class="grid__col-xs-12 grid__col-sm-8">
          <h3 class="mui--text-headline">{{ playlist.title }}</h3>
        </div>
        {% if playlist.videos -%}
          <div class="mui--hidden-xs grid__col-sm-4">
            <a href="{{ playlist.url_for() }}" class="mui--text-body2 playlist-link">VIEW ALL TALKS</a>
          </div>
        {%- endif %}
        {% if playlist.videos|length > 0 -%}
          {%- for video in playlist.videos[:4] -%}
            <div class="grid__col-auto thumbnail-wrapper">
              <a href="{{ video.url_for(channel=channel, playlist=playlist) }}" class="thumbnail thumbnail--video">
                {{ render_thumbnail(video.thumbnail_path, class="img-responsive", alt="video.title") }}
                <div class="overlay"></div>
               <i class="material-icons thumbnail__play-icon">play_circle_outline</i>
              </a>
              <p class="mui--text-body1">{{ video.title }}</p>
            </div>
          {%- endfor -%}
        {%- else -%}
          <div class="grid__col-12">
            <p>This playlist has no videos</p>
          </div>
        {%- endif %}
        {% if playlist.videos -%}
          <div class="grid__col-xs-12 mui--visible-xs-block mui--text-right">
            <a href="{{ playlist.url_for() }}" class="mui--text-body2 playlist-link">VIEW ALL TALKS</a>
          </div>
        {%- endif %}
      </div>
    {%- endfor -%}
  {%- else -%}
    <div class="grid__col-xs-12">
      <p>This channel does not have any playlists.</p>
    </div>
  {%- endif %}
{%- endblock %}
