{% extends "layout.html" %}
{% block title %}{{ channel.title }}{% endblock %}
{% from "macros.html" import render_thumbnail %}

{% block main -%}
  <div class="breadcrumb">
    <div class="container">
      {% block baseheadline %}
        {% block headline %}
          <div class="page-header">
            <div class="row">
              <div class="span6">
                <h1>{{ channel.title }}</h1>
                <p>Channel Type: {{ channel.type_label() }}</p>
              </div>
              <div class="span6">
                <div class="row">
                <div class="edit-options">
                  {% if 'new-playlist' in g.permissions -%}
                    <a href="{{ channel.url_for('import-playlist') }}"><span class="icon-download-alt">Import playlist</span></a>
                    <a href="{{ channel.url_for('new-playlist') }}"><span class="icon-plus">New playlist</span></a>
                    <a href="{{ channel.url_for('edit') }}"><span class="icon-pencil">Edit channel</span></a>
                  {%- endif %}
                  {% if 'new-video' in g.permissions -%}
                    <a href="{{ channel.url_for('stream-add') }}"><span class="icon-plus">New Video</span></a>
                  {%- endif %}
                </div>
              </div>
              <div class="row">
                <div class="create-meta">
                  <span class="icon-calendar">Member since {{ channel.created_at|longdate }}</span>
                </div>
              </div>
              </div>
            </div>
          </div>
        {% endblock %}
      {% endblock %}
    </div>
  </div>

  {% block basecontent %}
    {% block content %}
      <div class="dark-bg">
        <div class="container">
          <div class="row display-area channel-top">
            <div class="span4">
              <div class="channel-description">
                {{ channel.description|safe }}
              </div>
            </div>
            {% for playlist in channel.playlists -%}
              
                <ul class="well nav nav-list section play-list channel-playlist span8">
                  <div class="row">
                    <div class="span4">
                      <a href="{{ playlist.url_for() }}">{{ playlist.title }}</a>
                    </div>
                    <div class="span4 push-right">
                      {% if playlist.videos -%}
                        <a href="{{ playlist.url_for() }}"><span class="playlist-img">
                          <ul class="thumbnail">
                            {%- for video in playlist.videos[:4] -%}
                              <li>
                                  {{ render_thumbnail(video.thumbnail_path) }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </span></a>
                        {%- endif %}
                    </div>
                  </div>
                </ul>
              
            {%- else -%}
            <p>This channel does not have any playlists.</p>
            {%- endfor %}
            <div class="span4">
              .
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  {% endblock %}
{%- endblock %}
