{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import render_thumbnail %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{%- block layoutheaders %}
{% endblock %}

{% block contenthead %}
  <div class="site-banner">
    <img src="https://images.hasgeek.com/embed/file/74caa9c0eca946e797c8f95ee6f3139b" alt="HasGeek TV" class="site-banner__img site-banner__img--mobile">
    <img src="https://images.hasgeek.com/embed/file/be5c4541dc894d94aa2b98895ea2b957" alt="HasGeek TV" class="site-banner__img site-banner__img--web">
    <h2 class="site-banner__title">1200 videos, 52 events and counting...</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="grid">
    <p class="grid__col-12 site-title">Welcome to HasGeek TV. Watch talks and discussions from past events here.</p>
  </div>
  {% if config['LIVESTREAM'] %}
    <div class="livestream">
      <div id="tab-container">
        <ul class="tab-container">
          <li class="tab-container__tab mui--text-subhead"><a href="#stream1" data-toggle="tab">Livestream 1</a></li>
          {% if config['LIVESTREAM_2'] %}
            <li class="tab-container__tab mui--text-subhead"><a href="#stream2" data-toggle="tab">Livestream 2</a></li>
          {% endif %}
        </ul>
        <div id="stream1" class="video-box">
          <div class="video-box__video">
            <iframe id="iframe-stream1" src={{config['LIVESTREAM_1']}} frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        {% if config['LIVESTREAM_2'] %}
          <div id="stream2" class="video-box">
            <div class="video-box__video">
              <iframe id="iframe-stream2" src={{config['LIVESTREAM_2']}} frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {%- block appcontent %}
  {% endblock %}
{% endblock %}

{% block footerscripts %}
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tab-container').easytabs();
  });
</script>
{% endblock %}

