{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import render_thumbnail %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{%- block layoutheaders %}
{% endblock %}

{% block contenthead %}
{% endblock %}

{% block basecontentbox %}
  {%- block appcontent %}
  {% endblock %}
{% endblock %}

{% block footerscripts %}
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
{% endblock %}

