{% extends "layout.html" %}
{% from "macros.html" import render_thumbnail %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    {%- for playlist in playlists -%}
      {% if playlist.videos -%}
        <h2><a href="{{ playlist.url_for() }}">{{ playlist.title }}</a></h2><br>
        <ul class="playlist thumbnails">
          {%- for video in playlist.videos[:4] -%}
            <li class="span3">
              <a href="{{ video.url_for(channel=channel, playlist=playlist) }}">
                {{ render_thumbnail(video.thumbnail_path, upload_dir) }}
                {{ video.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif %}
    {% else %}
      <p>No playlist available</p>
    {%- endfor -%}
  </div>
</div>
{% endblock %}
