{% extends "home.html.jinja2" %}
{%- block layoutheaders %}
	
	  <link href="/static/js/dist/css/app.d41d8cd98f00b204e9800998ecf8427e.css" rel="stylesheet">
	
{% endblock %}

{%- block appcontent %}
	<div id="app"></div>

	
	<script src="/static/js/dist/js/manifest.6c7c3d2d7bf767f79d6c.js"></script>
	
	<script src="/static/js/dist/js/vendor.c8217e51c0d4635e14b9.js"></script>
	
	<script src="/static/js/dist/js/app.daf2f6f2c800907140d5.js"></script>
	
{% endblock %}