{% extends "layout.html" %}
{% from "macros.html" import render_thumbnail %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block contenthead %}
  <div class="page-masthead">
    <img src="{{url_for('static', filename='img/hgtv-banner-bg.png')}}" alt="" class="masthead-background">
    <h2 class="masthead-intro mui--text-display2">Watch talks from our previous events</h2>
    <div class="masthead-foreground">
      <img src="{{url_for('static', filename='img/hgtv-banner-fg.png')}}" alt="" class="masthead-foreground-img">
      <h1 class="masthead-title">HasGeek TV</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="grid">
    <p class="mui--text-title masthead-tagline grid__col-12">Hello! HasGeek creates discussion spaces for geeks. We host events to enable discussions, learning and discovery of new opportunities. Watch talks from our previous events here.</p>
  </div>
  {% if config['LIVESTREAM'] %}
    <div class="livestream">
      <div id="tab-container">
        <ul class="tab-container">
          <li class="tab-container__tab mui--text-subhead"><a href="#stream1" data-toggle="tab">Livestream 1</a></li>
          {% if config['LIVESTREAM_2'] %}
            <li class="tab-container__tab mui--text-subhead"><a href="#stream2" data-toggle="tab">Livestream 2</a></li>
          {% endif %}
        </ul>
        <div id="stream1" class="video-box">
          <div class="video-box__video">
            <iframe id="iframe-stream1" src={{config['LIVESTREAM_1']}} frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        {% if config['LIVESTREAM_2'] %}
          <div id="stream2" class="video-box">
            <div class="video-box__video">
              <iframe id="iframe-stream2" src={{config['LIVESTREAM_2']}} frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <ul class="grid">
    {%- for channel in channels -%}
      <li class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
        <div class="grid__cell">
          <a href="{{ channel.url_for() }}" class="clickable-card">
            <div class="card">
              {% if channel.channel_logo_filename %}
                {{ render_thumbnail(channel.channel_logo_filename, class='card__image', alt=channel.title) }}
              {% else %}
                <img class="card__image" src="{{url_for('static', filename='img/sample-logo.png')}}" alt="{{ channel.title }}"/>
              {% endif %}
              <div class="card__title">
                <h3 class="mui--text-title card__title__heading">{{ channel.title }}</h3>
              </div>
              <div class="card__body">
                {{ channel.description|safe }}
              </div>
              <div class="mui-divider"></div>
              <div class="card__footer">
                <a href="{{ channel.url_for() }}" class="mui-btn mui-btn--flat mui-btn--accent card__footer__floatbtn">
                  <i class="material-icons">play_circle_filled</i> <span>Watch Videos</span>
                </a>
              </div>
            </div>
          </a>
        </div>
      </li>
    {% else %}
      <p>No Channels available</p>
    {%- endfor -%}
  </ul>
{% endblock %}

{% block footerscripts %}
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<script type="text/javascript"> 
  $(document).ready(function(){ 
    $('#tab-container').easytabs(); 
  });
</script> 
{% endblock %}

