{% extends "home.html.jinja2" %}
{%- block layoutheaders %}
	
	 <link href="/static/js/dist/css/app.c929c10516411997c17f276f75145db3.css" rel="stylesheet">
	
{% endblock %}

{%- block appcontent %}
	<div id="app"></div>

	
	<script src="/static/js/dist/js/manifest.97b93da4e75526284c4e.js"></script>
	
	<script src="/static/js/dist/js/vendor.db9e40abb9af3709daa0.js"></script>
	
	<script src="/static/js/dist/js/app.5d69b4486a7be0b4da25.js"></script>
	
{% endblock %}