{% extends "baseframe-material.html" -%}
{% from "baseframe/components.html" import hgtopnavmaterial, hgsubtopnavmaterial, hgsidenavmaterial with context %}

{% block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/logo-large.png', _external=true) }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/logo-large.png', _external=true) }}" />
{% endblock %}

{% block sidedrawer -%}
{%- endblock %}

{% block header -%}
  {% macro site_title() %}
    <div>
      <a href="{{ url_for('index') }}" title="Home" class="header__site-title__item"><img class="header-logo" src="{{url_for('static', filename='img/logo.png')}}"></a>
    </div>
  {% endmacro %}
  {{ hgtopnavmaterial(site_title=site_title()) }}
{%- endblock %}

{% block contenthead %}{% endblock %}

{% block basecontent %}
  {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
  <div class="color-band"><!-- --></div>
  HasGeek TV copyright &copy; 2010-2017 HasGeek. Video and slides copyright by respective owners.
{% endblock %}

{%- block layoutscripts %}
  {% block footerscripts %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('baseframe.toastr_messages_js') }}"></script>
{%- endblock %}
