{% extends "baseframe.html.jinja2" -%}
{% from "baseframe/components.html.jinja2" import hgtopnav with context %}

{% block description %}{% if g.profile %}{{ g.profile.description|striptags }}
{% else %}{{ config['WELCOME_MESSAGE'] }}{% endif %}{% endblock %}

{% block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/logo-large.png', _external=true) }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/logo-large.png', _external=true) }}" />
{% endblock %}

{% block sidedrawer -%}
{%- endblock %}

{% block header -%}
  {% macro site_title() %}
    <div>
      <a href="{{ url_for('index') }}" title="Home" class="header__site-title__item js-home"><img class="header-logo" src="{{url_for('static', filename='img/logo.png')}}"></a>
    </div>
  {% endmacro %}
  {{ hgtopnav(site_title=site_title()) }}
{%- endblock %}

{% block contenthead %}
  <div class="content-head">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-xs-12">
          <h1 id="channel-header" class="mui--text-headline">
            {{ self.title()|e }}
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{%- block baseheadline %}
  {% block ads %}
  {% endblock %}
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block footerinner %}
  <a href="https://twitter.com/HasGeekTV" class="twitter-follow-button" data-show-count="false">Follow @HasGeekTV</a>
{% endblock %}

{%- block layoutscripts %}
  {% block footerscripts %}{% endblock %}
{%- endblock %}
