{% extends "baseframe.html.jinja2" -%}
{% from "baseframe/components.html.jinja2" import hgtopnav with context %}

{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
  <meta property="og:title" content="{{ config['SITE_TITLE'] }}" />
{%- endblock %}

{%- block font_icons %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{%- endblock %}

{% block description %}{% if g.profile %}{{ g.profile.description|striptags }}
{% else %}{{ config['WELCOME_MESSAGE'] }}{% endif %}{% endblock %}

{% block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/logo-large.png', _external=true) }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/logo-large.png', _external=true) }}" />
{% endblock %}

{%- block layoutheaders %}
  {%- if playlist %}
    <link rel="alternate" type="application/atom+xml"  title="{{ playlist.title }} – {{ config['SITE_TITLE']|e }}" href="{{ playlist.url_for('feed') }}" />
  {%- endif %}
  {% block pageheaders %}
    <!-- For error pages -->
    <style>
      .header-logo {
        height: 40px;
      }
      .content-head {
        background-color: #eff2f7;
        border-bottom: 1px solid rgba(132,146,166,.2);
        padding: 1em 0;
      }
      .page-content {
        padding-top: 1em;
        padding-left: 15px;
        padding-right: 15px;
      }
    </style>
  {% endblock %}
{% endblock %}

{% block sidedrawer -%}
{%- endblock %}

{% block header -%}
  {% macro site_title() %}
    <div>
      <a href="{{ url_for('index') }}" title="Home" class="header__site-title__item js-home"><img class="header-logo" src="{{url_for('static', filename='img/logo.png')}}"></a>
    </div>
  {% endmacro %}
  {{ hgtopnav(site_title=site_title()) }}
{%- endblock %}

{% block contenthead %}
  <div class="content-head">
    <div class="mui-container">
      <div class="grid">
        <div class="grid__col-xs-12">
          <h1 id="channel-header" class="mui--text-headline">
            {{ self.title()|e }}
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{%- block baseheadline %}
  {% block ads %}
  {% endblock %}
{% endblock %}

{% block basecontent %}
  <div class="page-content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block footerinner %}
  <a href="https://twitter.com/HasgeekTV" class="twitter-follow-button" data-show-count="false">Follow @HasgeekTV</a>
{% endblock %}

{%- block layoutscripts %}
  {% block footerscripts %}{% endblock %}
{%- endblock %}
