{% extends "baseframe.html" %}

{% block header %}
  {% block headline %}
    <h1>{{ self.title()|e }}</h1>
  {% endblock %}
{% endblock %}

{% block messages %}{% endblock %}
{% block baseheadline %}{% endblock %}

{% block basecontent %}
  {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
  HasGeek TV copyright &copy; 2010-2012 HasGeek Media LLP. Video and slides copyright by respective owners.
{% endblock %}

{%- block layoutscripts %}
  {%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages -%}
      <script type="text/javascript">
        {%- for category, message in messages %}
          {%- if category in ['error', 'info', 'success', 'warning'] %}
            toastr.{{ category }}("{{ message }}");
          {%- else %}
            toastr.info("{{ message }}");
          {%- endif %}
        {%- endfor %}
      </script>
    {%- endif %}
  {%- endwith %}

  {% block footerscripts %}{% endblock %}
{%- endblock %}
