{% extends "baseframe.html" %}

{% block image_src %}
  <link rel="image_src" href="{{ url_for('static', filename='img/logo-large.png') }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/logo-large.png') }}" />
{% endblock %}

{% block headerbox -%}
<header>
  {% block networkbar %}{{ networkbar(siteid=config['SITE_ID'], login=config['LASTUSER_CLIENT_ID'] and true or false) }}{% endblock %}
  <div id="page-header" class="container">
    <div class="row">
      <div class="span2">
        {% block logo -%}
          <div id="logo"><a href="{{ url_for('index') }}" title="Home">{{ config['SITE_TITLE'] }}</a></div>
        {%- endblock %}
      </div>
      <div class="span10 align-right">
        {% block ads %}{% endblock %}
      </div>
    </div>
    {# {%- block search %}
      <div id="search">
        <form class="form-inline" action="{{ url_for('search') }}">
          <input type="text" name="q" value="{{ request.args.get('q', '') }}">
          <button type="submit" class="btn" title="Search"><i class="icon-search"></i></button>
        </form>
      </div>

    {% endblock %} #}
    {%- block header %}{% endblock %}
  </div>
  {#<div class="container color-band"><!-- --></div>#}
</header>
{%- endblock %}


{% block main -%}
  {% block messages %}
  {% endblock %}
    <div class="breadcrumb">
      <div class="container">
        {% block baseheadline %}
          {% block headline %}
            <div class="page-header">
              <h1>{{ self.title()|e }}</h1>
            </div>
          {% endblock %}
        {% endblock %}
      </div>
    </div>

  <div class="container">
  {% block basecontent %}
    {% block content %}{% endblock %}
  {% endblock %}
  </div>
{%- endblock %}

{% block footer %}
  <div class="color-band"><!-- --></div>
  HasGeek TV copyright &copy; 2010-2014 HasGeek Media LLP. Video and slides copyright by respective owners.
{% endblock %}

{%- block layoutscripts %}
  {% block footerscripts %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('baseframe.toastr_messages_js') }}"></script>
{%- endblock %}
