{% extends "layout.html" %}
{% block title %}{{ playlist.title }}{% endblock %}
{% block headline %}
  <h3><a href="{{ channel.url_for() }}">{{ channel.title }}</a> &rsaquo;</h3>
  <h1>{{ playlist.title }}</h1>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span9">
    {{ playlist.description|safe }}
    {% if playlist.videos -%}
      <ul class="playlist thumbnails">
        {%- for video in playlist.videos -%}
          <li class="span3">
            <a href="{{ video.url_for(channel=channel, playlist=playlist) }}">
              <img class="thumbnail" src="{{ video.thumbnail_url }}" alt="Thumbnail">
              {{ video.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    {%- else -%}
      <p>This playlist has no videos</p>
    {%- endif %}
  </div>
  <div class="span3">
    <ul class="well nav nav-list section">
      <li class="nav-header">{{ playlist.type_label() }}</li>
      <li><span class="icon-calendar">Created {{ playlist.created_at|longdate }}</span></li>
      {% if 'edit' in g.permissions -%}
        <li><a href="{{ playlist.url_for('edit') }}"><span class="icon-pencil">Edit details...</span></a></li>
      {%- endif %}
      {% if 'new-video' in g.permissions -%}
        <li><a href="{{ playlist.url_for('new-video') }}"><span class="icon-plus">New video...</span></a></li>
      {%- endif %}
      {% if 'delete' in g.permissions -%}
        <li><a href="{{ playlist.url_for('delete') }}"><span class="icon-trash">Delete playlist...</span></a></li>
      {%- endif %}
    </ul>
  </div>
</div>
{% endblock %}
