{% from "baseframe/forms-material.html" import renderform %}
<div class="modal" id="playlist-modal">
  <div class="modal__header">
    <a class="modal__close" href="javascript:void(0);" aria-label="close" rel="modal:close"><i class="material-icons">clear</i></a>
    <h3 id="myModalLabel">New Playlist</h3>
  </div>
  <div class="modal__body">
    {{ renderform(form, action=url_for('playlist_new_modal', channel=g.user.channel.name, video=video.url_name), formid='modal-form', cancel_url=video.url_for(channel=channel, playlist=playlist)) }}
  </div>
</div>
