<ul class="mui-dropdown__menu mui-dropdown__menu--right mui-dropdown__menu--limitedwidth mui--is-open">
{% for c in user.channels %}
  {% for p in c.user_playlists %}
    <li>
      <a v-on:click="addToPlaylist('{{ url_for('video_playlist_add', channel=c.name, playlist=p.name, video=video.url_name)}}')" class="add-to-playlist" data-method="POST" data-channel="{{ c.name }}" data-playlist="{{ p.name }}">
        <span>
          {%- if video in p.videos %} 
            <i class="material-icons mui--text-caption">radio_button_unchecked</i> 
          {% else %} 
            <i class="material-icons mui--text-caption">radio_button_checked</i> 
          {% endif -%}
          {%- if loop.first -%}
            {{ c.title }} &rsaquo; {{ p.short_title() }}
          {%- else -%}{{ p.title }}{%- endif -%}
        </span>
      </a>
    </li>
    {% if loop.last %}
      <li class="divider"></li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
