{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderfield, ajaxform, richtext_editor %}
{% block title %}Editing: {{ video.title }}{% endblock %}
{% block headline %}
  <h3><a href="{{ channel.url_for() }}">{{ channel.title }}</a> &rsaquo;
      <a href="{{ playlist.url_for() }}">{{ playlist.short_title or playlist.title }}</a> &rsaquo;</h3>
  <h1>{{ video.title }} &raquo; Edit</h1>
{% endblock %}
{% block content %}
<form method="POST">
  <input type="hidden" name="form.id" value="video"/>
  {{ form.hidden_tag() }}
  {%- if form.errors %}
    <div class="alert alert-error">Please correct the indicated errors</div>
  {%- endif %}
  <div class="pull-right">
    <button name="done" type="submit" class="btn btn-primary"><i class="icon-ok"></i> Done</button>
    <a class="btn btn-danger" href="{{ video.url_for('delete') }}"><i class="icon-trash"></i> Delete...</a>
  </div>
  <div class="control-group{% if form.title.errors %} error{% endif %}" id="field-{{ form.title.id }}">
    <h2>{{ form.title.label.text }} <small>{{ form.title.description }}{% if form.title.flags.required %} (required){% endif %}</small></h2>
    {{ form.title(class="input-primary span12", autofocus="autofocus") }}
    {% if form.title.errors -%}
      {% for error in form.title.errors -%}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="row">
    <div class="span6">
      <div class="control-group{% if form.description.errors %} error{% endif %}" id="field-{{ form.description.id }}">
        <h3>{{ form.description.label.text }} <small>{{ form.description.description }}{% if form.description.flags.required %} (required){% endif %}</small></h3>
        {{ form.description }}
      </div>
    </div>
    <div class="span6">
      <h3>Speakers <small>Tag speakers to this video</small></h3>
      <ol id="speakers">
        {% if speakers %}
          {% for speaker in speakers %}
            <li data-speaker-userid="{{ speaker.userid }}"><em>{{ speaker.name }}
              <a class="delete-speaker" data-speaker-name="{{ speaker.name }}" data-speaker-userid="{{ speaker.userid }}"rel="tooltip" title="untag speaker {{ speaker.name }}"><i class="icon-remove-circle" ></i></a></em>
            </li>
          {% endfor %}
        {% else %}
          <li id="no-speaker"><em>(No speaker tagged yet)</em></li>
        {% endif %}
      </ol>
      <div class="form-inline">
        <input type="text" class="span5" id="speaker_name" placeholder="Username or email">
        <button  class="btn" id="add-speaker" disabled="disabled"><i class="icon-plus"></i> Add</button>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="span6">
    <form class="form-inline" method="POST">
      <input type="hidden" name="form.id" value="video_url"/>
      {{ formvideo.hidden_tag() }}
      <div class="control-group" id="field-{{ formvideo.video_url.id }}">
        {{ formvideo.video_url.label(class='control-label') }}
        <div class="controls">
          {{ formvideo.video_url(class='span5') }}
          <button class="btn" type="submit" name="video_update"><i class="icon-refresh"></i> Update</button>
        </div>
      </div>
      <div class="video video169">
        {{ video.embed_video_for('edit') }}
      </div>
    </form>
  </div>
  <div class="span6">
    <form class="form-inline" method="POST">
      <input type="hidden" name="form.id" value="slide_url"/>
      {{ formslides.hidden_tag() }}
      <div class="control-group" id="field-{{ formslides.slides_url.id }}">
        {{ formslides.slides_url.label(class='control-label') }}
        <div class="controls">
          {{ formslides.slides_url(class='span5') }}
          <button class="btn" type="submit" name="slides_update"><i class="icon-refresh"></i> Update</button>
        </div>
      </div>
      {% with slides_html = video.embed_slides_for('edit') %}
        {%- if slides_html  %}
          <div class="video169">
            {{ slides_html }}
          </div>
        {%- else -%}
          <div class="video169 placeholder">
            No slides provided
          </div>
        {%- endif %}
      {% endwith %}
    </form>
  </div>
</div>
{% endblock %}
{% block footerscripts %}
{{ richtext_editor(form.description) }}
{% with url_for_add_speaker=url_for('add_speaker', channel=channel.name, playlist=playlist.name, video=video.url_name),
   url_for_delete_speaker=url_for('delete_speaker', channel=channel.name, playlist=playlist.name, video=video.url_name) %}
  <script type="text/javascript">
    // Ajax call to server
    function add_or_remove_speaker(type, url, data, content_type, data_type, action){
      /*
      This function is primarily responsible to send AJAX request to server for adding or removing the
      speaker.
      param type: AJAX request type E.G: "POST" or "GET"
      param url: URL to submit the requests
      param data: payload E.G: {speaker_name: 'Guido Van Rossum'}
      param content_type: Request content type E.G: "application/json"
      param data_type: Type of data being submited E.G: "json"
      param action: represents what to do with speaker name E.G: "add" or "remove"
       */
      $.ajax({
          type: type,
          url: url,
          data: JSON.stringify(data),
          contentType: content_type,
          dataType: data_type,
          success: function(msg){
            if (msg['message_type'] === "success"){
              if (action === 'add'){ //if we add new speaker we need to display the speaker name under speakers
                var speaker_userid = msg['speaker_userid'];
                var speaker_name = data['speaker_name'];
                var speakers_html = $(".delete-speaker").get();
                if (speakers_html.length === 0){
                  $("#no-speaker").remove(); // remove the element which says no speaker is tagged
                }
                var speakers = speakers_html.map(function(x){
                  return x.getAttribute('data-speaker-userid');
                  }); // fetch speaker name
                if (speakers.indexOf(speaker_userid) === -1){ //indexOf return -1 if element is absent in array
                  var new_speaker_html = "<li data-speaker-userid=" + speaker_userid +"><em >"+ speaker_name +"<a class='delete-speaker' data-speaker-name=" + speaker_name + " data-speaker-userid=" + speaker_userid +" rel='tooltip' title='untag speaker " +
                      speaker_name + "'><i class='icon-remove-circle' ></i></a></em></li>";
                  $("#speakers").append(new_speaker_html);
                }
               }
               else if (action === 'delete'){
                var speaker_userid = data['speaker_userid'];
                $("li[data-speaker-userid='"+speaker_userid+"']").remove();
                var speakers_html = $(".delete-speaker").get();
                var speakers = speakers_html.map(function(x){
                  return x.getAttribute('data-speaker-userid');
                  }); // fetch speaker name
                if (speakers.length === 0){
                  var no_speaker_html = "<li id=no-speaker><em>(No speaker tagged yet)</em></li>"
                  $("#speakers").append(no_speaker_html);
                }
               }
              toastr.success(msg['message']);
            }
            else if (msg['message_type']  === "failure") {
              toastr.error(msg['message']);
            };
          },
         error: function(msg){
          toastr.error("Something went wrong, please try after sometime");
        }
      });
    }

    //Enable Add button when user entered input
    $('#speaker_name').keypress(function(){
      if ($("#speaker_name").val() !== ''){
        $('#add-speaker').removeAttr('disabled');
    } else {//code in testing to catch empty names
      if (!$("#add-speaker").attr("disabled")){
        $("#add-speaker").attr('disabled', 'disabled');
      }
    }
  });

    // prevent default submission of Add speaker button
    $("#add-speaker").click(function(event){
      event.preventDefault();
      var speaker_name = $("#speaker_name").val();
      if (speaker_name){
        data = {speaker_name: speaker_name};
        add_or_remove_speaker("POST", "{{ url_for_add_speaker}}", data,
          "application/json; charset=utf-8", "json", "add");
    }
    else{
      var error_msg = "Missing speaker name or email address";
      toastr.error(error_msg);
    }
  });

    //Untag Speaker
    $(".delete-speaker").live('click', function(event){
      var clicked = $(this);
      var speaker_userid = clicked.attr("data-speaker-userid");
      if (speaker_userid){
        data = {speaker_userid: speaker_userid};
        add_or_remove_speaker("POST", "{{url_for_delete_speaker}}", data,
          "application/json; charset=utf-8", "json", "delete");
      }
      else{
        var error_msg = "Unable to retrieve speaker details to delete";
        toastr.error(error_msg);
      }
    });
    </script>
{% endwith %}
{% endblock %}
