{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderfield, ajaxform, richtext_editor %}
{% block title %}Editing: {{ video.title }}{% endblock %}
{% block headline %}
  <h3><a href="{{ channel.url_for() }}">{{ channel.title }}</a> &rsaquo;
      <a href="{{ playlist.url_for() }}">{{ playlist.short_title or playlist.title }}</a> &rsaquo;</h3>
  <h1>{{ video.title }} &raquo; Edit</h1>
{% endblock %}
{% block content %}
<form method="POST">
  <input type="hidden" name="form.id" value="video"/>
  {{ form.hidden_tag() }}
  {%- if form.errors %}
    <div class="alert alert-error">Please correct the indicated errors</div>
  {%- endif %}
  <div class="pull-right">
    <button name="done" type="submit" class="btn btn-primary"><i class="icon-ok"></i> Done</button>
    <a class="btn btn-danger" href="{{ video.url_for('delete') }}"><i class="icon-trash"></i> Delete...</a>
  </div>
  <div class="control-group{% if form.title.errors %} error{% endif %}" id="field-{{ form.title.id }}">
    <h2>{{ form.title.label.text }} <small>{{ form.title.description }}{% if form.title.flags.required %} (required){% endif %}</small></h2>
    {{ form.title(class="input-primary span12", autofocus="autofocus") }}
    {% if form.title.errors -%}
      {% for error in form.title.errors -%}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="row">
    <div class="span6">
      <div class="control-group{% if form.description.errors %} error{% endif %}" id="field-{{ form.description.id }}">
        <h3>{{ form.description.label.text }} <small>{{ form.description.description }}{% if form.description.flags.required %} (required){% endif %}</small></h3>
        {{ form.description }}
      </div>
    </div>
    <div class="span6">
      <h3>Speakers <small>Tag speakers to this video</small></h3>
      <ol>
        <li><em>(No speaker tagged yet)</em></li>
      </ol>
      <div class="form-inline">
        <input type="text" name="name" class="span5" id="speaker_name" placeholder="Username or email">
        <button  class="btn" id="add-speaker" disabled="disabled"><i class="icon-plus"></i> Add</button>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="span6">
    <form class="form-inline" method="POST">
      <input type="hidden" name="form.id" value="video_url"/>
      {{ formvideo.hidden_tag() }}
      <div class="control-group" id="field-{{ formvideo.video_url.id }}">
        {{ formvideo.video_url.label(class='control-label') }}
        <div class="controls">
          {{ formvideo.video_url(class='span5') }}
          <button class="btn" type="submit" name="video_update"><i class="icon-refresh"></i> Update</button>
        </div>
      </div>
      <div class="video video169">
        {{ video.embed_video_for('edit') }}
      </div>
    </form>
  </div>
  <div class="span6">
    <form class="form-inline" method="POST">
      <input type="hidden" name="form.id" value="slide_url"/>
      {{ formslides.hidden_tag() }}
      <div class="control-group" id="field-{{ formslides.slides_url.id }}">
        {{ formslides.slides_url.label(class='control-label') }}
        <div class="controls">
          {{ formslides.slides_url(class='span5') }}
          <button class="btn" type="submit" name="slides_update"><i class="icon-refresh"></i> Update</button>
        </div>
      </div>
      {% with slides_html = video.embed_slides_for('edit') %}
        {%- if slides_html  %}
          <div class="video169">
            {{ slides_html }}
          </div>
        {%- else -%}
          <div class="video169 placeholder">
            No slides provided
          </div>
        {%- endif %}
      {% endwith %}
    </form>
  </div>
</div>
{% endblock %}
{% block footerscripts %}
{{ richtext_editor(form.description) }}
{% with url_for_add_speaker=url_for('add_speaker', channel=channel.name, playlist=playlist.name, video=video.url_name) %}
  <script type="text/javascript">
    //Enable Add button when user entered input
    $('input#speaker_name').keypress(function(){
      if ($("#speaker_name").val()){
        $('#add-speaker').removeAttr('disabled');
    }});

    // prevent default submission of Add speaker button
    $("button#add-speaker").click(function(event){
      event.preventDefault();
      var speaker_name = $("#speaker_name").val();
      if ( speaker_name ){
        $.ajax({
          type: "POST",
          url: "{{ url_for_add_speaker }}",
          data: JSON.stringify({speaker_name: speaker_name}),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            if ( data['message_type'] === "success" ){
              toastr.success( data['message'] );
            }
            else if ( data['message_type']  === "failure") {
              toastr.error( data['message'] );
            };
          },
         error: function(data){
          toastr.error( "Something went wrong, please try after sometime");
        }
      });
    }
    else
    {
      var error_msg = "Missing speaker name or email address";
      toastr.error(error_msg);
    }
});
    </script>
{% endwith %}
{% endblock %}