{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderfield, ajaxform, tinymce3_editor %}
{% block title %}Editing: {{ video.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block main %}
  <form method="POST">
    <div class="breadcrumb">
      <div class="container">
        <div class="pull-right" style="margin-top: 1em;">
          {%- if 'edit' in g.permissions %}
            <button name="done" type="submit" class="btn btn-primary"><i class="icon-ok"></i> Done</button>
          {%- endif %}
          {%- if 'delete' in g.permissions %}
            <a class="btn btn-danger" href="{{ video.url_for('delete') }}"><i class="icon-trash"></i> Delete...</a>
          {%- endif %}
        </div>
        <div class="page-header">
          <h3><a href="{{ channel.url_for() }}">{{ channel.title }}</a> &nbsp;<i class="icon-caret-right"></i>&nbsp;
              <a href="{{ playlist.url_for() }}">{{ playlist.short_title() }}</a> &nbsp;<i class="icon-caret-right"></i>&nbsp;</h3>
          <h1>{{ video.title }} &nbsp;<i class="icon-caret-right"></i>&nbsp; Edit</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <input type="hidden" name="form.id" value="video"/>
      {{ form.hidden_tag() }}
      {%- if form.errors %}
        <div class="alert alert-error">Please correct the indicated errors</div>
      {%- endif %}
      <div class="control-group{% if form.title.errors %} error{% endif %}" id="field-{{ form.title.id }}">
        <h2>{{ form.title.label.text }} <small>{{ form.title.description }}{% if form.title.flags.required %} (required){% endif %}</small></h2>
        {{ form.title(class="input-primary span12", autofocus="autofocus") }}
        {% if form.title.errors -%}
          {% for error in form.title.errors -%}
            <span class="help-inline">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group{% if form.description.errors %} error{% endif %}" id="field-{{ form.description.id }}">
            <h3>{{ form.description.label.text }} <small>{{ form.description.description }}{% if form.description.flags.required %} (required){% endif %}</small></h3>
            {{ form.description }}
          </div>
        </div>
        <div class="span6">
          <h3>Speakers <small>Tag speakers to this video</small></h3>
          <ol id="speakers">
            {% for speaker in speakers %}
              <li data-userid="{{ speaker.userid }}">{{ speaker.title }} <a class="remove-speaker" rel="tooltip" title="Remove"><i class="icon-remove"></i></a></li>
            {% endfor %}
            <li id="no-speakers" {%- if speakers %} class="hidden"{% endif %}><em>(No speakers have been tagged)</em></li>
          </ol>
          <div>
            <select id="speaker_name" name="speakername" class="span4" data-placeholder="Username or email">
            </select>
            <button class="btn" id="add-speaker" disabled="disabled"><i class="icon-plus"></i> Add</button>
            <span class="loading hidden">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="row">
      <div class="span6">
        <form class="form-inline" method="POST">
          <input type="hidden" name="form.id" value="video_url"/>
          {{ formvideo.hidden_tag() }}
          <div class="control-group" id="field-{{ formvideo.video_url.id }}">
            {{ formvideo.video_url.label(class='control-label') }}
            <div class="controls">
              {{ formvideo.video_url(class='span5') }}
              <button class="btn" type="submit" name="video_update"><i class="icon-refresh"></i> Update</button>
            </div>
          </div>
          <div class="video169 {{ video.video_source }}" >
            {{ video.embed_video_for('edit') }}
          </div>
        </form>
      </div>
      <div class="span6">
        <form class="form-inline" method="POST">
          <input type="hidden" name="form.id" value="slide_url"/>
          {{ formslides.hidden_tag() }}
          <div class="control-group" id="field-{{ formslides.slides_url.id }}">
            {{ formslides.slides_url.label(class='control-label') }}
            <div class="controls">
              {{ formslides.slides_url(class='span5') }}
              <button class="btn" type="submit" name="slides_update"><i class="icon-refresh"></i> Update</button>
            </div>
          </div>
          {% with slides_html = video.embed_slides_for('edit') %}
            {%- if slides_html  %}
              <div class="video43 {{ video.slides_source }}" id="slidebox">
                {{ slides_html }}
              </div>
            {%- else -%}
              <div class="video169"><div class="placeholder"><div><span>No slides available</span></div></div></div>
            {%- endif %}
          {% endwith %}
        </form>
      </div>
      <div class="span12">
        {%- if video.embed_slides_for('edit') %}
          <form class="form-inline" method="POST">
            <input type="hidden" name="form.id" value="video_slides_sync">
            {{ formsync.hidden_tag() }}
            <div class="control-group" id="field-{{ formsync.video_slides_mapping.id }}">
              {{ formsync.video_slides_mapping.label(class='control-label') }} - {{ formsync.video_slides_mapping.description}}
              {{ formsync.video_slides_mapping() }}
              <div class="controls">
                <button class="btn" type="submit" id="sync_update"><i class="icon-refresh"></i> Update</button>
                <button class="btn" id="fetch">Fetch Video and Slide details</button>
              </div>
            </div>
          </form>
        {%- endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
  {{ tinymce3_editor(form.description) }}
  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript">
    $(function() {
      // variable for vimeo working
      var container = false, froogaloop = false, slideno = 1;
      var is_youtube = $("#youtube_player").length >= 1 ? true: false,
            is_vimeo = $("#vimeo_player").length >= 1 ? true: false;
      //Check if video and slides mapping is previously saved or initalize
      var slide_value = $.parseJSON($("#video_slides_mapping").val()) || {0: 1};
      // Ajax call to server
      var add_or_remove_speaker = function(url, data) {
      $.ajax({
          type: "POST",
          url: url,
          data: data,
          dataType: "json",
          success: function(msg) {
            var message_type = msg['message_type'];
            $(".loading").addClass('hidden');
            if (message_type === "added") {
              var speaker_userid = msg['userid'];
              var speaker_title = msg['title'];
              $("#no-speakers").addClass('hidden');
              var new_speaker_html = '<li data-userid="' + speaker_userid + '">' + speaker_title + ' <a class="remove-speaker" rel="tooltip" title="Remove"><i class="icon-remove"></i></a></li>';
              $("#speakers").append(new_speaker_html);
              toastr.success(msg['message']);
            } else if (message_type === 'noop') {
              toastr.info(msg['message']);
            } else if (message_type === 'failure') {
              toastr.error(msg['message']);
            } else if (message_type === 'removed') {
              var speaker_userid = msg['userid'];
              $('#speakers [data-userid="'+speaker_userid+'"]').remove();
              if ($("#speakers [data-userid]").length === 0) {
                $("#no-speakers").removeClass('hidden');
              }
              toastr.success(msg['message']);
            }
            $("#speaker_name").empty();
            $('#add-speaker').prop('disabled', true);
          },
          error: function(msg) {
            $(".loading").addClass('hidden');
            toastr.error("Something went wrong, please try again");
          },
        });
      };

      //Enable & disable add button
      $('#speaker_name').on('change', function() { 
        $('#add-speaker').prop('disabled',
          ($(this).val() === '' ? 'true' : '')
        );
      });
      
      //Autocomplete speaker
      $("#speaker_name").select2({
        minimumInputLength: 3,
        ajax: {
          url: {{ autocomplete_url|tojson }},
          theme: 'classic',
          dataType: 'jsonp',
          data: function(params, page){
            return {
              q: params.term,
            }
          },
          processResults: function(data, page){
            console.log("data", data);
            var rdata = [];
            if (data.status === 'ok'){
              for (var i=0; i < data.users.length; i++){
                rdata.push({
                  id: data.users[i].buid, text: data.users[i].label
                });
              }
            }
            return {more: false, results: rdata};          
          }
        },
      });

      // Add a speaker
      $("#add-speaker").on('click', function(event) {
        event.preventDefault();
        var speaker_name = $("#speaker_name").val();
        if (speaker_name) {
          $(".loading").removeClass('hidden');
          add_or_remove_speaker("{{ video.url_for('add-speaker') }}", {
            speaker_name: speaker_name,
            csrf_token: $('input[name="csrf_token"]').val(),
          });
        } else {
          toastr.error("Please provide the speaker's username or email address");
        }
      });

      // Remove a speaker
      $("#speakers").on('click', '.remove-speaker', function(event) {
        event.preventDefault();
        var speaker_userid = $(this).parent('[data-userid]').attr("data-userid");
        if (speaker_userid) {
          $(".loading").removeClass('hidden');
          add_or_remove_speaker("{{ video.url_for('remove-speaker') }}", {
            speaker_userid: speaker_userid,
            csrf_token: $('input[name="csrf_token"]').val(),
          });
        } else {
          toastr.error("Unable to retrieve speaker details");
        };
      });
      //Function to parse the messages received from iframe
      var receiveMessage = function(event){
        var data;
        if (event.origin.indexOf("//speakerdeck.com") === -1 || event.origin.indexOf("//slideshare.net") === -1){
          return;
        }
        data = $.parseJSON(event.data);
        if (data[1]) {
          slideno = data[1].number;
        }    
      };
      //if slideshare replace the iframe with flash version
      var slideshare_iframe = $("#slidebox").find("iframe"), is_slideshare = false;
      var slide_url = document.createElement('a');
      //<expression> ? <true>: <false> 
      if (slideshare_iframe[0]){
        slide_url.href = slideshare_iframe[0].hasOwnProperty('src') ? slideshare_iframe[0].src : "http://example.com"
      }
      if (slideshare_iframe && slide_url.origin.indexOf("slideshare.net") !== -1) {
        var params = { allowScriptAccess: "always" };
        var atts = { id: "slidebox" };
        var flashvars = { doc : "{{slideshare_unique_value}}" };
        swfobject.embedSWF("//static.slidesharecdn.com/swf/ssplayer2.swf"
             ,"slidebox",$("#slidebox").width(),480 ,"8",null,flashvars,params, atts);
        is_slideshare = true;
      }
        //register to addEventListener
        var youtube_player;
        window.addEventListener("message", receiveMessage, false);
        var fetch_click_handler = function(event) {
          event.preventDefault();
          //Keep checking iframe connection, figured this is mandatory from presentz.js code
          if (is_slideshare){
            var slideshare_player = $("#slidebox")[0];
            slideno = slideshare_player.getCurrentSlide();
          } else {
            $(".video43").find("iframe")[0].contentWindow.postMessage(JSON.stringify(["ping"]), "*");
          }
          slide_value = JSON.parse($("#video_slides_mapping").val());
          if (is_youtube){
            slide_value[youtube_player.getCurrentTime()] = slideno;  
          } else if (is_vimeo){
            toastr.error("Vimeo support isn't addd");
          }
          $("#video_slides_mapping").val(JSON.stringify(slide_value));
        }
        //initialize JS API for youtube player
        function onYouTubeIframeAPIReady(){
          if (typeof YT.Player !== "undefined"){
            youtube_player = new YT.Player('youtube_player');
            $("#fetch").on('click', fetch_click_handler);
          } else {
            setTimeout(onYouTubeIframeAPIReady, 100);
          }
        }
        //Check if player loaded
        if (is_youtube){
          onYouTubeIframeAPIReady();
        } else if (is_vimeo){
          $("#fetch").on('click', fetch_click_handler);
        }
        /**
          * Utility function for adding an event. Handles the inconsistencies
          * between the W3C method for adding events (addEventListener) and
          * IE's (attachEvent).
          */
        function addEvent(element, eventName, callback) {
          if (element.addEventListener) {
            element.addEventListener(eventName, callback, false);
          } else {
            element.attachEvent(eventName, callback, false);
          }
        }
        //Function to run when Vimeo loads
        var vimeoReady = function(player_id){
          container = document.getElementById(player_id).parentNode.parentNode,
          froogaloop = $(player_id);
        }
     });
  </script>
{% endblock %}
