{% extends "layout.html.jinja2" %}
{% from "macros.html.jinja2" import render_thumbnail %}
{% from "baseframe/forms.html.jinja2" import renderform, ajaxform %}

{% block canonical_url %}
  <link rel="canonical" href="{{ video.url_for('view', _external=True) }}" />
  <meta property="og:url" content="{{ video.url_for('view', _external=True) }}" />
{% endblock %}

{% block pageheaders %}
  <link rel="alternate" type="application/atom+xml"  title="{{ playlist.title }} – {{ config['SITE_TITLE']|e }}" href="{{ playlist.url_for('feed') }}" />
{% endblock %}

{% macro videoactions() %}
  <form id="action" method="POST" action="{{ video.url_for('action') }}" class="mui--clearfix">
    {{ form.csrf_token() }}
    {% if g.user %}
      <span class="loading mui--hide video-box__actions">
        <i class="material-icons mui--align-middle mui--text-light mui--text-title">autorenew</i>
      </span>
      <button class="video-box__actions {%- if flags['starred'] %} active{% endif %}" title="Add to favourites" name="action" value="star"> <i class="material-icons mui--align-middle mui--text-light mui--text-title">stars</i>
      </button>
      <button class="video-box__actions {%- if flags['queued'] %} active{% endif %}" title="Watch this later" name="action" value="queue"> <i class="material-icons mui--align-middle mui--text-light mui--text-title">schedule</i>
      </button>
      <button class="video-box__actions {%- if flags['liked'] %} active{% endif %}" title="Like" name="action" value="like">
        <i class="material-icons mui--align-middle mui--text-light mui--text-title">thumb_up</i>
      </button>
      <button class="video-box__actions {%- if flags['disliked'] %} active{% endif %}" title="Dislike" name="action" value="dislike">
        <i class="material-icons mui--align-middle mui--text-light mui--text-title">thumb_down</i>
      </button>
      <div id="playlist-buttons" class="video-box__actions">
        {%- if 'remove-video' in playlist.permissions(g.user) and playlist != video.playlist -%}
          <a class="video-box__actions" href="{{ video.url_for('remove-video', channel=channel, playlist=playlist) }}" title="Remove from this playlist">
            <i class="material-icons mui--align-middle mui--text-light mui--text-title">clear</i>
          </a>
        {%- endif %}
        <div class="mui-dropdown" id="add-to-button">
          <i class="material-icons mui--align-middle mui--text-light mui--text-title" data-mui-toggle="dropdown" title="Add to library">library_add</i>
        </div>
      </div>
      {%- if 'edit' in g.permissions or 'delete' in g.permissions %}
        {%- if 'edit' in g.permissions -%}
          <a class="video-box__actions" href="{{ video.url_for('edit') }}" title="Edit video">
            <i class="material-icons mui--align-middle mui--text-light mui--text-title">mode_edit</i>
          </a>
        {%- endif -%}
        {%- if 'delete' in g.permissions -%}
          <a class="video-box__actions" href="{{ video.url_for('delete') }}" title="Delete video">
            <i class="material-icons mui--align-middle mui--text-light mui--text-title">delete_forever</i>
          </a>
        {%- endif %}
      {%- endif %}
    {%- else %}
      <div class="video-box__actions">
        <a class="mui-btn mui-btn--primary mui-btn--small" href="{{ url_for('login') }}">Login for more options</a>
      </div>
    {%- endif %}
    <div class="mui-dropdown video-box__actions video-box__actions--nomargin">
      <i class="material-icons mui--align-middle mui--text-light mui--text-title" data-mui-toggle="dropdown" title="Share">share</i>
      <ul class="mui-dropdown__menu mui-dropdown__menu--right" id="share-buttons">
        <li>
          <a target="_blank" href="//twitter.com/share?url={{ request.url }}&amp;via=HasGeekTV&amp;text={{ video.title }}" class="socialite twitter-share mui--text-light mui--text-title" data-url="{{ request.url }}" data-text="{{ video.title }}" data-via="HasGeekTV">Twitter</a>
        </li>
        <li>
          <a target="_blank" href="//plus.google.com/share?url={{ request.url }}" class="socialite googleplus-share mui--text-light mui--text-title" data-href="{{ request.url }}" data-action="share">Google+</a>
        </li>
        <li>
          <a target="_blank" href="//www.facebook.com/sharer.php?u={{ request.url }}&amp;t={{ video.title }}" class="socialite facebook-share mui--text-light mui--text-title" data-href="{{ request.url }}">Facebook</a>
        </li>
      </ul>
    </div>
  </form>
{% endmacro %}

{% block ads -%}
  {%- if playlist.banner_ad_url %}
    <a target="_blank" class="ad-leaderboard" href="{{ playlist.banner_ad_url }}">{{ render_thumbnail(playlist.banner_ad_filename) }}</a>
  {%- endif %}
{%- endblock %}

{% block contenthead %}
  <div class="content-head mui--hidden-xs mui--hidden-sm">
    <div class="mui-container">
      <div class="grid grid--align-baseline">
        <div class="grid__col-xs-12">
          <h3 class="mui--text-headline content-head__title">
            <a href="{{ channel.url_for() }}">{{ channel.title }}</a> <i class="material-icons mui--align-middle mui--text-hyperlink">chevron_right</i>
            <a href="{{ playlist.url_for() }}">{{ playlist.short_title() }}</a>
          </h3>
          <p class="mui--text-subhead content-head__title">{{ video.title }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block basecontentbox %}
  <div class="mui-container mui-container--no-padding-mobile">
  {% with slides_html = video.embed_slides_for('view') %}
    <div class="page-content page-content--no-padding-mobile">
      <div class="grid">
        <div class="{% if slides_html %}grid__col-xs-12 grid__col-lg-6{% else %}grid__col-xs-12{% endif %} grid__col--no-padding-mobile video-box">

          <div class="video-box__video video-box__video--fixed {{ video.video_source }}">
            {{ video.embed_video_for(config.get('VIDEO_VIEW_MODE', 'view')) }}
          </div>

          <div class="video-box__ops video-box__details grid">
            <a class="grid__col-xs-12 mui--text-right mui--text-caption mui--text-light" href="https://videoken.com" target="_blank">Powered by VideoKen</a>
            <div class="video-box__speaker grid__col-xs-12 grid__col-lg-5">
            {% if speakers %}
              {% for speaker in speakers %}
                <p class="video-box__speaker-details">
                  <a href="{{ speaker.playlist_for_speaking_in().url_for('view') }}" class="mui--text-light mui--text-subhead"><i class="material-icons mui--text-subhead mui--align-top mui--text-light">person</i> {{ speaker.pickername }}</a>
                  {%- if speaker.externalid %}
                    <a class="mui--text-light mui--text-caption">{{ speaker.externalid }}</a>
                  {%- endif %}
                </p>
              {% endfor %}
            {% endif %}
            </div>
            <div id="video-actions" class="grid__col-xs-12 grid__col-lg-7 mui--text-right">{{ videoactions() }}</div>
          </div>

        </div>

        {%- if slides_html %}
          <div class="grid__col-xs-12 grid__col-lg-6">
            <div class="video-box__video {{ video.slides_source }}">{{ slides_html }}</div>
          </div>
        {%- endif %}
      </div>

      <div class="grid">

        <div class="grid__col-xs-12 mui--text-subhead video-description">
          {% if playlist != video.playlist -%}
            Uploaded in
            <a href="{{video.playlist.url_for('view')}}">{{ video.playlist.title }}</a><br /><br />
          {%- endif %}
          {{ video.description|safe }}
        </div>

        {% set next_video, prev_video = playlist.next(video=video), playlist.prev(video=video) %}
          <p class="grid__col-xs-12 mui--text-title"><strong>More videos</strong></p>
          {% if prev_video -%}
            <div class="grid__col-auto thumbnail-wrapper">
              <a href="{{ prev_video.url_for(channel=channel, playlist=playlist) }}" class="thumbnail thumbnail--video">{{ render_thumbnail(prev_video.thumbnail_path, class="img-responsive", alt="video.title") }}</a>
              <p class="mui--text-body2 video-title">{{ prev_video.title }}</p>
            </div>
          {% endif -%}

          {% if prev_video %}
            {% if next_video -%}
              <div class="grid__col-auto thumbnail-wrapper">
                <a href="{{ next_video.url_for(channel=channel, playlist=playlist) }}" class="thumbnail thumbnail--video">{{ render_thumbnail(next_video.thumbnail_path, class="img-responsive", alt="video.title") }}</a>
                <p class="mui--text-body2 video-title">{{ next_video.title }}</p>
              </div>
            {% endif -%}
          {% else %}
            {% if next_video -%}
              <div class="grid__col-auto thumbnail-wrapper">
                <a href="{{ next_video.url_for(playlist=playlist, channel=channel) }}" class="thumbnail thumbnail--video">{{ render_thumbnail(next_video.thumbnail_path, class="img-responsive", alt="video.title") }}</a>
                <p class="mui--text-body2 video-title">{{ next_video.title }}</p>
              </div>
            {% endif -%}
          {% endif %}
        </div>

    </div>
  {% endwith %}
  </div>
{% endblock %} <!-- /block content -->

{% block footerscripts %}
  {%- if g.user %}
    <script type="text/javascript">
      $(function() {
        // video slides sync
        var presentation;
        var presentz;
        function initPresentz(pres) {
          presentation = pres;
          presentz = new Presentz(".video169", $('.video169').width() + "x" + $('.video169').height(), ".video43", $('.video43').width() + "x" + $(".video43").height());
          presentz.init($.parseJSON(presentation));
          // presentz loads youtube, so remove earlier loaded youtube iframe.
          var videos = $('.video169');
          if (videos.length >= 1){
            // Player loaded during template rendering has id youtube_player
            var preloaded_player = $("#youtube_player");
            if (preloaded_player && preloaded_player.length >= 1){
              videos[0].removeChild(preloaded_player[0]);
            } else {
              preloaded_player = $("#vimeo_player");
              if (preloaded_player && preloaded_player.length >= 1){
                videos[0].removeChild(preloaded_player[0]);
              }
            }
          }
          presentz.changeChapter(0, 0, true, function(err) {
            if (err) {
              console.log(err);
            }
          });
        }
        $().ready(function() {
          {% if video.slides_source %}
            initPresentz({{ video.video_slides_mapping_json|tojson|safe}});
          {% endif %}
        });

        var playlist_action = function(url, data, type) {
          $.ajax({
            type: type,
            url: url,
            data: data,
            success: function(msg) {
              if (msg['message_type'] === 'success') {
                if (msg['action'] === 'append') {
                  $("#playlist-buttons .mui-dropdown").append(msg['html']);
                } else if (msg['action'] === 'modal-window') {
                    $(msg['html']).modal({show: true, keyboard: true}).bind('click keydown', function(event) {
                      //code for on enter keypress & submit button
                      var modalWindow = $(this);
                      //e.which === 1 says button is clicked
                      if (event.keyCode === 13 || event.which === 1) {
                        if ($(event.target).hasClass('btn-primary') || event.keyCode === 13) {
                          event.preventDefault();
                          $("#modal-form").ajaxSubmit({
                            beforeSubmit: function(){
                               $(".loading").removeClass('mui--hide');
                            },
                            success: function(msg) {
                              $(".loading").addClass('mui--hide');
                              if (msg['message_type'] === 'success') {
                                if (msg['action'] === 'append') {
                                  $(msg['html']).insertBefore($('.divider'));
                                }
                                toastr.success(msg['message']);
                                $(modalWindow).modal('hide');
                                $(modalWindow).empty(); //remove modal window once playlist is created.
                              } else if (msg['message_type'] === 'error') {
                                  $(modalWindow).html(msg['html']);
                                }
                              },
                            error: function(msg) {
                              $(".loading").addClass('mui--hide');
                              toastr.error("something went wrong try later")
                            }
                          });
                        }
                    }
                  });
                }
                else if (msg['action'] === 'add') {
                  // Get the playlist user clicked
                  var to_append = $('#playlist-buttons [data-playlist="'+msg['playlist_name']+'"]');
                  // <i class='icon-ok'></i> is bootstrap icon to display tick mark
                  to_append.find('i').attr('class', 'icon-ok');
                }
                else if (msg['action'] === 'delete') {
                  var to_hide = $('#playlist-buttons [data-playlist="'+msg['playlist_name']+'"]');
                  to_hide.find('i').attr('class', 'icon-blank');
                }
                if (msg['message']) {
                  toastr.success(msg['message']);
                }
              }
              else if (msg['message_type'] === 'error') {
                if (msg['message']) {
                  toastr.error(msg['message']);
                }
              }
              else if (msg['message_type'] === 'info') {
                if (msg['message']) {
                  toastr.info(msg['message']);
                }
              }
            },
            error: function() {
              toastr.error("Something went wrong, please try again");
            }
          });
        }
        $("#action").ajaxForm({
          beforeSubmit: function(){
            $(".loading").removeClass('mui--hide');
          },
          success: function(msg) {
            console.log("success");
            $(".loading").addClass('mui--hide');
            var action = $(this).attr('data').split('action=').pop();
            if (["dislike", "like"].indexOf(action) !== -1 && msg['message_type'] === 'removed') {
              $(".btn[value='" + action + "']").removeClass('active');
            }
            if (msg['message_type'] === 'added' || msg['message_type'] === 'removed') {
              toastr.success(msg['message']);
            } else if (msg['message_type'] === 'failure') {
              toastr.error(msg['message']);
            }
          },
          error: function() {
            $(".loading").addClass('mui--hide');
            toastr.error("Something went wrong, please try again");
          },
        });
        /* Add To Button click */
        $("#add-to-button").on('click', function(event) {
          event.preventDefault();
          if ($('.add-to-playlist').length === 0) {
            playlist_action("{{ url_for('user_playlists', video=video.url_name) }}", {}, "GET");
          }
        });
        /* Add to playlist */
        $("#playlist-buttons").on('click', '.dropdown-menu a', function(event) {
          event.preventDefault();
          playlist_action($(this).attr('href'), {csrf_token: $('input[name="csrf_token"]').val(), }, $(this).attr('data-method'));
        });
      });
    </script>
  {%- endif %}
  <script type="text/javascript">
    $(function() {
      $("#share-buttons a").on('click', function(event) {
        event.preventDefault();
        var width = 600,
            height = 300,
            left = (screen.width/2)-(width/2),
            top = (screen.height/2)-(height/2);
        window.open($(this).attr('href'), 'share-window', 'height='+height+',width='+width+',left='+left+',top='+top+',toolbar=0,menubar=0,location=0,status=0,scrollbars=1,resizable=1');
      });
      // Don't use socialite until we figure out how to customize the appearance.
      // Socialite.load();
    });
  </script>
{% endblock %}
