{% extends "layout.html" %}
{% block headline %}
  <h1><a href="/diogo">Diogo Ferreira on CyanogenMod</a> <small>&laquo; <a href="/droidcon">Droidcon</a> <a href="/droidcon/2011">2011</a></small></h1>
  <p>Recorded November 2011</p>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span6">
    <div class="video169">
      <iframe src="http://www.youtube.com/embed/rTcFk4L7ux0?wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="span6">
    <div class="video169">
      <iframe src="http://www.slideshare.net/slideshow/embed_code/9303960" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

{% endblock %}
