{% extends "layout.html" %}
{% from "baseframe/forms.html" import renderform, ajaxform %}
{% block headline %}
  <h3><a href="{{ channel.url_for() }}">{{ channel.title }}</a> &rsaquo;
      <a href="{{ playlist.url_for() }}">{{ playlist.short_title or playlist.title }}</a> &rsaquo;</h3>
  <h1>{{ video.title }}</h1>
{% endblock %}

{% block pageheaders %}
  <link rel="canonical" href="{{ video.url_for('view', _external=True) }}"/>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      <div class="video169">
        {{ video.embed_video_for('view') }}
      </div>
    </div>
    <div class="span6">
      {% with slides_html = video.embed_slides_for('view') %}
        {%- if slides_html %}
          <div class="video169">
            {{ slides_html }}
          </div>
        {%- else -%}
          <div class="video169 placeholder">
            No slides available
          </div>
        {%- endif %}
      {% endwith %}
    </div>
  </div>

  {% if g.user %}<form id="action" method="POST" action="{{ video.url_for('action') }}" class="unstyled">
    {{ form.csrf_token() }}
    <div class="btn-toolbar">
      <div class="btn-group" data-toggle="buttons-checkbox">
        {%- if flags['starred'] %}
          <button class="btn active" title="Star" name="action" value="star"><i class="icon-star-empty"></i></button>
        {%- else %}
          <button class="btn" title="Star" name="action" value="star"><i class="icon-star-empty"></i></button>
        {%- endif %}
        {%- if flags['queued'] %}
          <button class="btn active" title="Add to Queue" name="action" value="queue"><i class="icon-time"></i></button>
        {%- else %}
          <button class="btn" title="Add to Queue" name="action" value="queue"><i class="icon-time"></i></button>
        {%- endif %}
      </div>
      <div class="btn-group" data-toggle="buttons-radio">
        {%- if flags['liked'] %}
          <button class="btn active" title="Like" name="action" value="like"><i class="icon-thumbs-up"></i> Like</button>
        {%- else %}
          <button class="btn" title="Like" name="action" value="like"><i class="icon-thumbs-up"></i> Like</button>
        {%- endif %}
        {%- if flags['disliked']  %}
          <button class="btn active" title="Dislike" name="action" value="dislike"><i class="icon-thumbs-down"></i></button>
        {%- else %}
          <button class="btn" title="Dislike" name="action" value="dislike"><i class="icon-thumbs-down"></i></button>
        {%- endif %}
      </div>
      <div class="btn-group dropup">
        {%- if 'remove-video' in g.permissions -%}
          <a class="btn" href="{{ video.url_for('remove') }}" title="Remove from this playlist"><i class="icon-minus"></i> Remove</a>
        {%- endif %}
        <a class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Add to <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for c in g.user.channels %}
            {% for p in c.user_playlists %}
              <li><a href="#">
                {%- if loop.first -%}
                  {{ c.title }} &raquo;
                  {%- if p.short_title %} {{ p.short_title }}
                  {%- else -%}<br>{{ p.title }}{% endif %}
                {%- else -%}{{ p.title }}{%- endif -%}
              </a></li>
              {% if loop.last %}
                <li class="divider"></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          <li><a href="{{ url_for('playlist_new', channel=g.user.channel.name, add=video.url_name) }}">New playlist...</a></li>
        </ul>
      </div>
      {% if g.user and video.channel.userid in g.user.user_organizations_owned_ids() -%}
        <div class="btn-group">
          <a class="btn" href="{{ video.url_for('edit') }}"><i class="icon-pencil"></i> Edit</a>{#
          #}<a class="btn" href="{{ video.url_for('delete') }}"><i class="icon-trash"></i> Delete...</a>
        </div>
      {%- endif %}
    </div>
  </form>{% endif %}
  {% if speakers %}
    <h3>Speakers </h3>
    {% for speaker in speakers %}
      <li><em>{{ speaker.name }}</em></li>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      $("#action").ajaxForm({
        success: function(msg) {
          if (msg['message_type'] === 'added' || msg['message_type'] === 'removed') {
            toastr.success(msg['message']);
          } else if (msg['message_type'] === 'failure') {
            toastr.error(msg['message']);
          }
        },
        error: function() {
          toastr.error("Something went wrong, please try again");
        },
      });
    });
 </script>
{% endblock %}
